* {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Monospace, Arial, Helvetica, sans-serif;
}

html, body {
    /* just to center it vertically */
    height: 100%;
}

/* ugh had to remove for keyboard stuff
.numbers button:active, .function button:active {
    background-color: rgb(199, 199, 199);
}

.operator:focus, .operator:active {
    background-color: rgb(255, 198, 93);
    color: black;
    transition: .1s;
}

.operators .equals:active {
    background-color: rgb(255, 198, 93);
    color: white;
    transition: .1s;
} */

.active {
    background-color: white !important;
    transition-duration: .1s;
    color: black !important;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1.2fr 1fr 4fr;
    grid-template-areas:
    "display display display display"
    "functions functions functions operators"
    "numbers numbers numbers operators";
    width: 375px;
    height: 500px;
    min-width: 375px;
    min-height: 500px;
    border: 10px solid rgb(71, 71, 71);
    border-radius: 4px;
    
}

.wrapper *  {
    background-color: black;
    
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    margin-top: 10px;
    height: 100vh;
    overflow: auto;
}

.numbers {
    grid-area: numbers;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

#zero {
    grid-column: 1 / span 2;
}

button {
    font-size: 3em;
    margin: 1px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    outline: none;

}

.operators {
    grid-area: operators;
    display: grid;
    grid-template-rows: repeat(5, 1fr);

}

.function {
    grid-area: functions;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: bl;
}

.display {
    grid-area: display;
    justify-self: stretch;
    align-self: center;
    font-size: 4em;
    background-color: black;
    color: white;
    box-sizing: border-box;
    text-align: right;
    padding-right: 20px;
}

.numbers button {
    background-color: grey;

}

.function button {
    background-color: rgb(175, 175, 175);
}

.operators button {
    background-color: orange;
    color: white;
}

@media only screen and (min-width: 475px) and (min-height: 600px) {
    .wrapper {
        display: block;
        margin-top: 40px;
        margin-left: 50px;
    }
}